*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
header{
    background-color: #110d0d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.8cm;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}
header ul{
    display: flex;
    padding: 10px;
}
header ul li{
    list-style-type: none;
    padding: 10px 20px;
}
header h3{
    color: orange;
    margin-right: 30px;
    animation: title 2s infinite linear;
}
header h2{
    margin-left: 30px;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    background-color: orange;
    border-radius: 10px;
}
header a{
    text-decoration: none;
}
header li a{
    font-size: 17px;
    color: orange;
    padding: 5px;
    border-radius: 10px;
}
header li a:hover{
    background-color: orange;
    color: #fff;
}
.a1:visited{
    background-color: orange;
    color: #fff;
}
@keyframes title{
    from{
        color: orange;
        transform: rotate(-3deg);
        border-top: 1px solid orange;
    }
    to{
        color: orangered;
        transform: rotate(3deg);
        border-bottom: 1px solid orange;
    }
}
.images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 15px;
}
.images img{
    width: 270px;
    margin-bottom: 30px;
    animation: image 2s infinite linear;
    border-radius: 10px;
}
@keyframes image{
    from{
        box-shadow: 0px 0px 24px orange;
    }
    to{
        box-shadow: 0px 0px 24px red;
    }
}
/*VIDEO*/
.video{
    text-align: center;
    color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position:absolute;
    margin-left: 2cm;
    animation: video 14s infinite linear;
}
.video h1{
    padding-top: 30vh;
    margin-bottom: 30px;
    font-size: 20px;
}
.video h3{
    font-size: 19px;
}
@keyframes video{
    0%{
        margin-left: 50%;
    }
    25%{
        margin-top: 40vh;
        color: #fff;
    }
    50%{
        margin-left: 0;
        color: red;
    }
    75%{
        margin-top: -30vh;
        color: orange;
    }
    100%{
        margin-left: 50%;
        color: red;
    }
}
/*RESPONSIVE*/
@media(max-width:1420px){
    .images{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}
@media(max-width:1140px){
    .images{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width:880px){
    .images{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .images img{
        width: 200px;
        margin-bottom: 30px;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
    }
}
@media(max-width:670px){
    .images img{
        width: 100px;
        margin-bottom: 30px;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
    }
    header ul li{
        padding: 10px 5px;
    }
}
@media(max-width:510px){
    header ul li{
        padding: 10px 0px;
    }
    header h3{
    font-size: 15px;
    margin-right: 15px;
    }
    header h2{
        margin-left: 10px;
        color: #fff;
        font-size: 18px;
        padding: 5px;
        background-color: orange;
        border-radius: 10px;
    }
}
@media(max-width:410px){
    .m{
        display: none;
    }
}
::-webkit-scrollbar{
    background-color: #110d0d;
}
::-webkit-scrollbar-thumb{
    background-color:orange;
}